azure-functions
azure-cognitiveservices-speech
azure-ai-formrecognizer
azure-search-documents
azure-storage-blob
azure-identity
azure-cosmos
requests
requests-toolbelt
bcrypt
uuid
jsonlib
python-dotenv
fastapi
uvicorn
websockets
requests